z/************************/
/* MODAL WINDOW STYLING */
/************************/

/* LEGACY STYLING... DEPRICATED -- MOVE TO jQMODAL */
/* Inpage windows */
#newFilter {
	position: relative;
}
#filterWindow {
	z-index: 100;
	position: absolute;
	display: none;
    top: -200px;
	left: -50px;
	padding: 1em;
	border: 5px solid #6CAF00;
	background: #FDFEFB;
}
#filterWindow input[type="text"] {
	width: 150px;
}
.fwTransfer {
	border: 2px solid #6CAF00;
	border-left: 2px dashed #6CAF00;
	border-right: 2px dashed #6CAF00;
}

/* jQMODAL STYLES */

.jqmWrap { /* posistions & contains the modal window */
    position: fixed;
    top: 17%;
    width: 100%;
}

.jqmOverlay { background-color: #FFF; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWrap {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* jqmModal dialog CSS courtesy of;
	Brice Burgess <bhb@iceburg.net> */

div.jqmDialog {
	overflow: hidden;
	font-family:verdana,tahoma,helvetica;
	width: 400px;
	position: relative;
}

/* Title / Top Classes */
div.jqmdTC { 
	background: #d5ff84 url(../images/dialog/sprite.gif) repeat-x 0px -82px; 
	color: #528c00;
	padding: 7px 22px 5px 5px;
	font-family:"sans serif",verdana,tahoma,helvetica;
	font-weight: bold;
	* zoom: 1;
}
div.jqmdTL { background:  url(../images/dialog/sprite.gif) no-repeat 0px -41px; padding-left: 3px;}
div.jqmdTR { background: url(../images/dialog/sprite.gif) no-repeat right 0px; padding-right: 3px; * zoom: 1;}

/* Body / Message Classes */
div.jqmdBC {
	background: url(../images/dialog/bc.gif) repeat-x center bottom;
	padding: 7px 7px 7px;
	height: 180px;
	overflow: auto;
	* position: relative; /* Fix for overflow/relative bug; http://rowanw.com/bugs/overflow_relative.htm */
}
div.jqmdBL { background: url(../images/dialog/bl.gif) no-repeat left bottom; padding-left: 7px; }
div.jqmdBR { background: url(../images/dialog/br.gif) no-repeat right bottom; padding-right: 7px; * zoom: 1 }

div.jqmdMSG { 
	color: #317895;
}

/* Button classes */
input.jqmdClose {
	position: absolute;
	right: 7px;
	top: 4px;
	padding: 0 0 0 19px;
	height: 19px;
	width: 0px;
	background: url(../images/dialog/close.gif) no-repeat top left;
	overflow: hidden;
}

input.jqmdCloseFocus {background-position: bottom left; outline: none;}

div.jqmdBC button {
	margin: 8px 10px 4px 10px;
	color: #777;
	background-color: #fff;
	cursor: pointer;
}

/* Misc Styling */
div.jqmdTall {height: 330px; }
	